/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00A3BF;
  --ifm-color-primary-dark: #0093AC;
  --ifm-color-primary-darker: #008B9F;
  --ifm-color-primary-darkest: #007283;
  --ifm-color-primary-light: #00B3D2;
  --ifm-color-primary-lighter: #00BBDB;
  --ifm-color-primary-lightest: #00D3F6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00C7E6;
  --ifm-color-primary-dark: #00B3D2;
  --ifm-color-primary-darker: #00A9C6;
  --ifm-color-primary-darkest: #008B9F;
  --ifm-color-primary-light: #1ADBFB;
  --ifm-color-primary-lighter: #28DFFF;
  --ifm-color-primary-lightest: #51E6FF;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
