.env
*.pyc
**/*.pyc
__pycache__/
**/__pycache__/
.DS_Store
**/.DS_Store
pipelines

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv
venv/
ENV/
env/

## Sandbox
sandbox/**